# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build files
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# Temporary files and folders
*.tmp
*.swp
*.swo
*.bak
*.orig
*.log
.vscode/
.idea/
.DS_Store

# OS-specific files
Thumbs.db
Desktop.ini

# Testing
coverage/
jest-coverage/
*.lcov

# IDE or editor-specific settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional npm cache
.npm/
.parcel-cache/
.next/
.nuxt/
.sass-cache/
.cache/
.storybook/

# Files related to Git
*.lock
*.log
*.gz
*.zip
*.tgz

# Temporary TypeScript output
*.tsbuildinfo

# Specific to React
/.pnp
.pnp.js
